@charset "utf-8";

/* フォント */
/* よもぎ YUSEi */
@import url('https://fonts.googleapis.com/css2?family=Yomogi&family=Yusei+Magic&display=swap');


/* 背景 */
body {
    /* サイト全体のフォント指定 */
  {
  font-family: 'Yomogi' ;
  }

  background-image:
      repeating-linear-gradient(to bottom,
        transparent 25px,
        rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
        transparent 27px,  transparent 51px, 
        rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
        transparent 53px,  transparent 77px, 
        rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
        transparent 79px,  transparent 103px, 
        rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
        transparent 105px,  transparent 129px, 
        rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px),
   
      repeating-linear-gradient(to right,
        transparent 25px,
        rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
        transparent 27px,  transparent 51px, 
        rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
        transparent 53px,  transparent 77px, 
        rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
        transparent 79px,  transparent 103px, 
        rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
        transparent 105px,  transparent 129px, 
        rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px);
  }
}

{
  font-family: 'Yomogi' ;
  }


/* 見出し付箋 s */
.sticky-head-s {
    font-family: 'Yomogi' ;
    display: inline-block;
    position: relative;
    padding: .5em 1.4em .5em 1em;
    background-color: #b6c5dd;
    color: #333333;
}

.sticky-head-s::before {
    position: absolute;
    bottom: -1px;
    right: 9px;
    z-index: -1;
    transform: rotate(5deg);
    width: 70%;
    height: 50%;
    background-color: #d0d0d0;
    content: "";
    filter: blur(4px);
}


/* 見出し付箋 i */
.sticky-head-i {
    font-family: 'Yusei Magic';
  
    display: inline-block;
    position: relative;
    padding: .6em 1.4em .6em 1em;
    background-color: #eca7a7;
    color: #4a4a4a;
}

.sticky-head-i::before {
    position: absolute;
    bottom: -1px;
    right: 9px;
    z-index: -1;
    transform: rotate(5deg);
    width: 70%;
    height: 50%;
    background-color: #d0d0d0;
    content: "";
    filter: blur(4px);
}

/* テープボックス s */
.tape-box-s {
    font-family: 'Yomogi' ;
    position: relative;
    max-width: 500px;
    margin: 1.5em auto;
    padding: 2.5em 1.5em 1.5em;
    box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
    background-color: #f5f5f5;
    color: #333333;
}

.tape-box-s span {
    font-family: 'Yomogi' ;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    top: -18px;
    transform: translateX(-.3em) rotate(-5deg);
    padding: .6em 3em;
    border-right: 2px dotted rgb(0 0 0 / 10%);
    border-left: 2px dotted rgb(0 0 0 / 10%);
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    background-color: rgb(255 255 255 / 40%);
    font-weight: 600;
}

.tape-box-s p {
    margin: 0;
}

/* テープボックス i */
.tape-box-i {
    font-family: 'Yusei Magic';
    position: relative;
    max-width: 500px;
    margin: 1.5em auto;
    padding: 2.5em 1.5em 1.5em;
    box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
    background-color: #f5f5f5;
    color: #333333;
}

.tape-box-i span {
    font-family: 'Yusei Magic';
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    top: -18px;
    transform: translateX(-.3em) rotate(-5deg);
    padding: .6em 3em;
    border-right: 2px dotted rgb(0 0 0 / 10%);
    border-left: 2px dotted rgb(0 0 0 / 10%);
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    background-color: rgb(255 255 255 / 40%);
    font-weight: 600;
}

.tape-box-i p {
    margin: 0;
}


/* 付箋 s */
.fusen-s {
    font-family: 'Yomogi' ;
    display: inline-block;
    position: relative;
    padding: .5em 1em;
    border-right: 27px solid #5165f5;
    background-color: #ffffff;
    color: #3035c0;
}

.fusen-s::before {
    position: absolute;
    bottom: 2px;
    right: -20px;
    z-index: -1;
    transform: rotate(5deg);
    width: 100%;
    height: 50%;
    background-color: #d3d3d3;
    content: "";
    filter: blur(4px);
}

/* 付箋 i */
.fusen-i {
    font-family: 'Yusei Magic';
    display: inline-block;
    position: relative;
    padding: .5em 1em;
    border-right: 27px solid #f55151;
    background-color: #ffffff;
    color: #c03030;
}

.fusen-i::before {
    position: absolute;
    bottom: 2px;
    right: -20px;
    z-index: -1;
    transform: rotate(5deg);
    width: 100%;
    height: 50%;
    background-color: #d3d3d3;
    content: "";
    filter: blur(4px);
}


/* クリップ s */
.clip-box-s {
    font-family: 'Yomogi';
    position: relative;
    max-width: 480px;
    margin: 1em auto;
    padding: 1em 2.5em 1em 1.5em;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
    background-color: #f5f5f5;
    color: #333333;
    border-radius: 3px;
    box-shadow: 4px 5px 0px 1px rgba(96, 108, 143, 0.45);
}

.clip-box-s::before,
.clip-box-s::after {
    font-family: 'Yomogi';
    position: absolute;
    content: '';
}

.clip-box-s::before {
    font-family: 'Yomogi';
    top: -15px;
    right: 10px;
    height: 50px;
    width: 15px;
    border: 3px solid #999;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
    transform: rotate(10deg);
}

.clip-box-s::after {
    font-family: 'Yomogi';
    top: 0;
    width: 10px;
    right: 20px;
    border: solid 5px #f5f5f5;
}

/* クリップ i */
.clip-box-i {
    font-family: 'Yusei Magic';
    position: relative;
    max-width: 480px;
    margin: 1em auto;
    padding: 1em 2.5em 1em 1.5em;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
    background-color: #f5f5f5;
    color: #333333;
    border-radius: 3px;
    box-shadow: 4px 5px 0px 1px rgba(143, 23, 0, 0.45);
}

.clip-box-i::before,
.clip-box-i::after {
    font-family: 'Yusei Magic';
    position: absolute;
    content: '';
}

.clip-box-i::before {
    font-family: 'Yusei Magic';
    top: -15px;
    right: 10px;
    height: 50px;
    width: 15px;
    border: 3px solid #999;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
    transform: rotate(10deg);
}

.clip-box-i::after {
    font-family: 'Yusei Magic';
    top: 0;
    width: 10px;
    right: 20px;
    border: solid 5px #f5f5f5;
}